h1 New product

form
  p
    label Name:
      input( type='text', name='product' )

  p
    label Images:
      input#FileUpload(type='file', name='image', multiple)

  p.images

script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
script(src="/javascripts/jquery.ui.widget.js")
script(src="/javascripts/jquery.iframe-transport.js")
script(src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js")
script(src="http://blueimp.github.com/JavaScript-Canvas-to-Blob/canvas-to-blob.min.js")
script(src="/javascripts/jquery.fileupload.js")
script(src="/javascripts/jquery.fileupload-ip.js")
script(src="/javascripts/main.js")
